.search-form {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.enter-city-name {
  height: 30px;
  width: 275px;
  border: 1px solid black;
  padding: 6px;
  font-size: 16px;
}

.search-button {
  width: 100px;
  font-size: 22px;
  margin-left: 15px;
  background-color: rgb(24, 175, 212);
  color: white;
  border: none;
  padding: 10px;
  box-shadow: 1px 1px 15px lightblue;
}
