.searching,
.city-not-found {
  margin: auto;
  margin-top: 18px;
  width: 600px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 25px;
  box-shadow: 1px 1px 25px rgb(136, 151, 151);
}

.weather-details {
  font-family: sans-serif;
  height: 500px;
  width: 1000px;
  margin: auto;
  margin-top: 25px;
  display: flex;
}

.weather-details__box-1,
.weather-details__box-2 {
  height: 500px;
  width: 500px;
  margin-left: 10px;
  box-shadow: 1px 1px 25px rgb(136, 151, 151);
}

.city-name {
  font-size: 35px;
  text-align: center;
  position: relative;
  top: 115px;
}

.city-temp {
  font-size: 75px;
  position: relative;
  top: 115px;
  left: 95px;
}

.weather-icon {
  height: 75px;
  width: 75px;
  position: relative;
  left: 385px;
  top: -20px;
}

.container {
  margin: 50px 35px;
}

.container h3 {
  font-size: 20px;
  margin: 10px;
}
